# Experiment no.7
# Name- DARSH JAIN
# prn-25070123037
# Batch- ENTC A2
# Types of Loops in Python
#09/02/2026

In [ ]:
#while loop
#used when the number of itertions is not known
#Print i as long as i is less than 6:
i=0
while i<6:
  print(i)
  i+=1

0
1
2
3
4
5

In [ ]:
#print number from 1 to N
inp=int(input("Enter the value of N:"))
i=1
while i<=inp:
  print(i)
  i+=1

Enter the value of N:43
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

In [ ]:
#factorial of a number:
inp=int(input("Enter the value of N:"))
k,i=inp,1
while k>0:
  i=i*k
  k=k-1
print(f"factorial of {inp} is",i)

Enter the value of N:5
factorial of 5 is 120

In [ ]:
#fibonacci series while loop
n=int(input("Enter the value of N:"))
a,b,i=0,1,0
while i<n:
  print(a,end=',')
  c=a+b
  a=b
  b=c
  i+=1

Enter the value of N:6
0,1,1,2,3,5,

In [ ]:
#reverse a number
num=int(input("Enter the number:"))
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num//=10
print("reverse number:",rev)

Enter the number:5643
reverse number: 3465

In [ ]:
#check palindrome
input_str = input("Enter a number or word to check if it's a palindrome: ")
if input_str.isdigit():
    input_str = str(int(input_str))
is_palindrome = input_str == input_str[::-1]
if is_palindrome:
    print(f"'{input_str}' is a palindrome.")
else:
    print(f"'{input_str}' is not a palindrome.")

Enter a number or word to check if it's a palindrome: NAMAN
'NAMAN' is a palindrome.

In [ ]:
#BEAK STATEMENT
#EXIT LOOP WHEN i=3
i = 0
while i<10:
    if i==3:
        break
    print(i)
    i+=1

0
1
2

In [ ]:
#While-continue
#print numbers from 1 to 10(skip 5)
i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i+=1

1
2
3
4
6
7
8
9
10

In [ ]:
#primt only odd numbers(1 to 10)
i=1
while i<=10:
  if i%2==0:
     i+=1
     continue
  print(i)
  i+=1

1
3
5
7
9

In [ ]:
#for loops
#print numbers from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#print even numbers from 1 to 10 using range function
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [ ]:
#sum of first N numbers
N=int(input("Enter the value of N:"))
sum=0
for i in range(1,N+1):
  sum=sum+i
print(sum)

Enter the value of N:8
36

In [ ]:
#nested loop
#find output of the following-
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#3X3 matrix display
#findout output-
a=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
  for j in range(3):
    print(a[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#multiplication of two 3X3 matrics
a=[[1,2,3],[4,5,6],[1,2,3]]
b=[[1,1,1],[6,5,4],[3,2,1]]
result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j]+=a[i][k]*b[k][j]
print("product of 2 matrices:")
for row in result:
  print(row)

product of 2 matrices:
[22, 17, 12]
[52, 41, 30]
[22, 17, 12]

In [3]:
# Python program to accept three digits and print all possible combinations.

d1= 1
d2= 2
d3= 3
d=[d1,d2,d3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if i != j and j != k and i != k:
                print(d[i], d[j], d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [7]:
# Write a code to find out whether the nnumber given is armstrong number or not
# Armstrong number(153 370 371 407 1634)
# Accept a number from the user
num = int(input("Enter a number: "))
original = num
digits = len(str(num))
total = 0
while num > 0:
    digit = num % 10
    total = total + digit ** digits
    num = num // 10

if total == original:
    print(original, "is an Armstrong number")
else:
    print(original, "is not an Armstrong number")

Enter a number: 370
370 is an Armstrong number

In [8]:
#Find out the prime number in the given range:
start = int(input("Enter starting number: "))
end = int(input("Enter ending number: "))
print("Prime numbers between", start, "and", end, "are:")
for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

Enter starting number: 2
Enter ending number: 89
Prime numbers between 2 and 89 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89

In [12]:
#wRITE A CODE FOR INVERTED PYRAMID STAR PATTERN
rows = 5

for i in range(rows, 0, -1):

    for j in range(rows - i):
        print(" ", end="")
    for k in range(i):
        print("*", end=" ")

    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [11]:
# WRITE A CODE FOR PYRAMID STAR PATTERN
for i in range(1, 6):

    for j in range(5 - i):
        print(" ", end="")

    for k in range(i):
        print("*", end=" ")

    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
#WRITE A CODE FOR FLOYDS TRIANGLE
rows = int(input("Enter number of rows: "))
num = 1

for i in range(1, rows + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

Enter number of rows: 7
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [14]:
#RIGHT ANGLED
rows = int(input("Enter number of rows: "))

num = 1

for i in range(1, rows + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

Enter number of rows: 4
1
2 3
4 5 6
7 8 9 10